.border{
    border-radius: 5px;
    border: 1px solid black;
}

.w-100{
    width: 100%;
}
.inline{
    display: inline;
}
.text-red-bold{
    color: red;
    font-weight: 600;
}
.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.divider{
    height: 1px;
    border-bottom: 1px solid black;
}

.semi-bold{
    font-weight: 600;
}

.ml-3{
    margin-left: 16px;
}
.mr-3{
    margin-right: 16px !important;
}

.px-3{
    padding-left: 10px;
    padding-right: 10px;
}

.left-bold-text{
    text-align: left;
    font-weight: 600;
}
.company{
    text-align: center;
}
.company-detail .left{
    text-align: center;
    width: 50%;
 
}
.company-detail .rigth{
    width: 50%;
 
}
.m-0{
    margin: 0;
}
.logo-img{
    width: 50px;
    height: 50px;
}